@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.medium-text {
  font-size: 22px;
  line-height: 26px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
/* Пока не подключаю это правило, чтобы было видно, где будут декоративные элементы.
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/


.page-header {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  width: 138px;
  margin-right: 30px;
}

.navigation-list {
  width: 400px;
  margin: 0;

  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-link.button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.selected-quantity {
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.hero {
  background-color: #3F5E72;
  background-image: url(../images/hero-background.jpg);
  background-size: 100% auto;
}


.description {
  background-color: #ffffff;
}


.description-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}



.description-item {
  width: 400px;

  background-color: #82B3D3;
/* Пока непонятно в этом месте с типом блоков контур оставлю видимым на странице браузера */
  outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}
/* Временный отступ, пока не прописаны микросетки */
.description-town {
  margin-right: 800px;
}

.description-square,
.description-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.description-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.features {
  background-color: #ffffff;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-food {
  background-color: #ffffff;
}

.search {
  background-color: #ffffff;
}

.subscribe {
  background-color: #3F5E72;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  color: #ffffff;
}

.button-subscribe {
  background-color: #82B3D3;
  border: none;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  width: 200px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.tel {
  width: 142px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.footer-logo-academy {
  width: 115px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.inner-header-title,
.breadcrumbs,
.catalog-filter,
.catalog-result-search {
  width: 1060px;
  margin: 0 auto;
   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group {
width: 150px;
margin: 0;
padding: 0;
margin-right: 70px;
border: none;

 outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.catalog-filter-cost {
  width: 288px;
  margin-left: auto;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.catalog-filter-buttons {
  width: 191px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.button-apply {
  background-color: #82B3D3;
  border: none;
}

.button-reset {
  background-color: transparent;
  border: none;
}

.wrapper {
  text-align: left;
  background-color: #3F5E72;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-result-search {
  width: 1200px;
  background-color: #ffffff;
}

.catalog-result-search-view {
  display: flex;
}

.catalog-found {
  display: block;
  width: 338px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.select-control {
  width: 292px;
  margin-left: auto;
  font-size: 18px;
  line-height: 21px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.buttons-view {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-left: 70px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.hotel-link {
  text-decoration: none ;
}

.catalog-hotels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.catalog-hotel {
  width: 340px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.hotel-choose {
  border: none;
  background-color: #82B3D3;
}

.choose {
  background-color: #7DB54F;
}

.hotel-raiting {
  font-size: 16px;
  line-height: 20px;
}

.hotel-four-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 96px;
  height: 40px;
}

.hotel-three-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 72px;
  height: 40px;
}

.hotel-two-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 48px;
  height: 40px;
}

.hotel-raiting {
  text-transform: uppercase;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;

  outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
  list-style: none;
}

.pagination-link {
background-color: #82B3D3;
color: #ffffff;
}

.pagination-current,
.dots {
  background: none;
  color: #000000;
}

.subscribe-catalog {
  background-color: #ffffff;
}
