@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  color: #25e080;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: red;
}

.medium-text {
  font-size: 22px;
  line-height: 26px;
  color: rgb(178, 159, 21);
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3F5E72;
}

.visually-hidden {
  display: none;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  font-size: 16px;
  line-height: 20px;
}

.selected-quantity {
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.hero {
  background-color: #3F5E72;
  background-image: url(../images/hero-background.jpg);
  background-size: 100% auto;
  height: 485px;
}

.hero-images {
  margin: 0;
  margin-top: 51px;
}

.description-list li:first-child,
.description-list  li:last-child {
  background-color: #82B3D3;
}

.description-list li:nth-child(2),
.description-list li:nth-child(4) {
  background-color: #83B3D31F;
}

.description-list li:nth-child(3) {
  background-color: #83B3D333;
}

.advantages-list li:first-child,
.advantages-list  li:last-child {
  background-color: #83B3D31F;
}

.subscribe {
  background-color: #3F5E72;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  color: #ffffff;
}
