@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  background-color: #F2F2F2;
  color: #000000;
}

/* Sticky footer (липкий футер) и нормализация стилей*/

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  /* Стакан */

  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

 /* Sticky footer (липкий футер) и нормализация стилей*/

.main-container {
  flex-grow: 1;
}

/* Общие правила для кнопок, будут меняться */

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

/* Общие правила для шрифтов, будут меняться */

.heading {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.headline {
  margin: 0 auto;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.subtitle {
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* Шапка сайта */

.page-header {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  width: 138px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 270px;
  margin-left: auto;
  }

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 20px 10px;
}

.navigation-link.button {
  min-width: 160px;
  padding: 8px 32px;
  margin: 14px 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}


.selected-quantity {
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

/* Главная страница */

.hero {
  padding: 51px 0 82px;
  background-color: #3F5E72;
  background-image: url(../images/hero-background.jpg);
  background-size: 100% auto;
}

/* Статья-описание Седоны */


.description-text.heading {
  padding: 69px 290px 15px 290px;
}

.description-text.headline {
  padding: 10px 270px 70px 270px;
  margin-bottom: 20px;
}


.description-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.description-item {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #82B3D3;
}

.item-text {
  width: 230px;
  padding: 0 85px;
}

.item-no-images {
  display: flex;
  flex-wrap: wrap;
}

.description-title {
  width:  175px;
  margin-top: 102px;
  margin-bottom: 90px;
}

.item-no-images .description-title {
  margin-top: 112px;
}

.item-no-images .description-text {
  margin: 0;
  margin-bottom: 112px;
}


.description-square,
.description-tourists {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.description-road {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

/* Блок - Услуги */

.features-text.heading {
  padding: 64px 348px 10px 348px;
}

.features-text.headline {
  padding: 10px 355px 64px 355px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  width: 230px;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-title {
  margin-top: 90px;
  margin-bottom: 30px;
}

.features-food {
  background-color: #ffffff;
}

/* Блок перехода к поиску гостиницы */

.search {
  padding: 96px 304px;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}
/* Блок подписки */

.subscribe {
  background-color: #3F5E72;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  color: #ffffff;
}

.subscribe-title {
  padding: 96px 398px 10px 398px;
}
 .subscribe-text {
  padding: 10px 363px;
  margin-bottom: 45px;
 }

 .subscribe-form {
  width: 684px;
  padding-bottom: 104px;
  margin: 0 auto;
 }

.button-subscribe {

  background-color: #82B3D3;
  border: none;
}

/* Подвал сайта */

.page-footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  box-sizing: border-box;
  padding: 50px 12px;
  height: 120px;
}


.tel {
  display: block;
  width: 335px;
  padding: 40px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.logo-academy {
  display: block;
  width: 115px;
  height: 34px;
  padding: 38px 0;
  margin-top: 10px;
}

/* Сраница каталога */
/* Обертка заголовка, хлебных крошек и фильтра для общего фона */

.wrapper {
  text-align: left;
  background-color: #3F5E72;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.header-inner,
.catalog-filter-hotels {
  padding: 0 70px;
}


/* Шапка для страницы каталога */

.inner-header-title {
  display: block;
  margin: 0;
  padding-top: 35px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 8px;
  list-style-type: none;
}

.breadcrumbs-link {
  padding: 0 10px;
  font-size: 16px;
  line-height: 21px;
}

/* Секция фильтрации гостиниц */

.catalog-filter {
  display: flex;
  padding-bottom: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group {
width: 150px;
margin-right: 70px;
border: none;

 outline: 5px solid rgb(240, 49, 11);
  outline-offset: -5px;
}

.catalog-filter-title {
  margin-bottom: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-cost {
  width: 288px;
  margin-left: auto;

   outline: 5px solid rgb(69, 73, 10);
  outline-offset: -5px;
}

.catalog-filter-buttons {
  align-self: flex-end;
  width: 191px;

   outline: 5px solid rgb(106, 39, 206);
  outline-offset: -5px;
}

.button-apply {
  background-color: #82B3D3;
  border: none;
}

.button-reset {
  background-color: transparent;
  border: none;
}

/* Секция результатов фильтра */

.catalog-result-search-view {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 40px;
}

.catalog-found {
  display: block;
  align-self: center;
  width: 338px;
  margin: 0;
  text-transform: uppercase;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}


.select-control {
  width: 292px;
  margin-left: auto;
  font-size: 18px;
  line-height: 21px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.buttons-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  list-style-type: none;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.button-view {
  display: block;
  min-width: 16px;
  min-height: 14px;
  padding: 17px 16px;

  outline: 5px solid rgb(21, 4, 78);
  outline-offset: -5px;

}

/* Список отфильтрованных отелей */

.catalog-hotels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.catalog-hotel {
  width: 300px;
  padding: 20px;

   outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}


.hotel-link {
  text-decoration: none ;
}

.hotel-title {
  display: inline-block;
  margin: 0;
  padding: 16px 0;
  text-transform: none;
  color: #000000;
}



.hotel-choose {
  border: none;
  background-color: #82B3D3;
}

.choose {
  background-color: #7DB54F;
}

.hotel-raiting {
  font-size: 16px;
  line-height: 20px;
}

.hotel-four-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 96px;
  height: 40px;
}

.hotel-three-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 72px;
  height: 40px;
}

.hotel-two-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 48px;
  height: 40px;
}

.hotel-raiting {
  text-transform: uppercase;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;

  outline: 5px solid rgb(134, 245, 87);
  outline-offset: -5px;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
  list-style: none;
}

.pagination-link {
background-color: #82B3D3;
color: #ffffff;
}

.pagination-current,
.dots {
  background: none;
  color: #000000;
}

/* Секция подписки для каталога */

.subscribe-catalog {
  background-color: #ffffff;
}
