@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.medium-text {
  font-size: 22px;
  line-height: 26px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
/* Пока не подключаю это правило, чтобы было видно, где будут декоративные элементы.
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/


.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.navigation-link.button {
  color: #ffffff;
}

.navigation-user {
  font-size: 16px;
  line-height: 20px;
}

.selected-quantity {
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.hero {
  background-color: #3F5E72;
  background-image: url(../images/hero-background.jpg);
  background-size: 100% auto;
  height: 485px;
}

.hero-images {
  margin: 0;
  margin-top: 51px;
}

.description-list li:first-child,
.description-list  li:last-child {
  background-color: #82B3D3;
}

.description-list li:nth-child(2),
.description-list li:nth-child(4) {
  background-color: #83B3D31F;
}

.description-list li:nth-child(3) {
  background-color: #83B3D333;
}

.advantages-list li:first-child,
.advantages-list  li:last-child {
  background-color: #83B3D31F;
}

.subscribe {
  background-color: #3F5E72;
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  color: #ffffff;
}

.button-subscribe {
  background-color: #82B3D3;
  border: none;
}

.tel {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.main-inner {
text-align: left;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.button-apply {
  background-color: #82B3D3;
  border: none;
}

.button-reset {
  background-color: transparent;
  border: none;
}

.wrapper {
  background-color: #3F5E72;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.hotel-link {
  text-decoration: none ;
}

.hotel-choose {
  border: none;
  background-color: #82B3D3;
}

.choose {
  background-color: #7DB54F;
}

.hotel-raiting {
  font-size: 16px;
  line-height: 20px;
}

.hotel-four-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 96px;
  height: 40px;
}

.hotel-three-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 72px;
  height: 40px;
}

.hotel-two-star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 48px;
  height: 40px;
}

.hotel-raiting {
  text-transform: uppercase;
}

.subscribe-catalog {
  text-align: center;
}

.pagination-link {
background-color: #82B3D3;
color: #ffffff;
}

.pagination-current,
.dots {
  background: none;
  color: #000000;
}
